/* start custom scss snippet */

/* merriweather-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/fonts/merriweather-v30-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  body {
    /* 更改正文字体 */
    font-family: 'Merriweather';
    font-size: 1.2rem;
  }
  
  code {
    /* 更改code字体 */
    font-family: 'Merriweather';
    font-size: 1.05rem;
  }
  
  /* end custom scss snippet */
  